 body {
   font-family: Arial, sans-serif;
   color: #ffffff;
   background-color: #ffffff;
   padding: 0;
   margin: 0;
 }

 /* barra superior sticky */
 .sticky {
   position: fixed;
   z-index: 8;
   top: 0;
   text-align: center;
   width: 100%;
   border: 1px solid #000000;
   background-image: linear-gradient(to right, #2c262e, #2e2826);
   left: 0;
   transform: none;
 }

 /* scroll smooth */
 html {
   scroll-behavior: smooth;
 }

 /* Foto de perfil */
 .profile {
   position: relative;
   top: 10%;
   z-index: 5;
   width: 20em;
   /* Tamaño de la imagen */
   height: 20em;
   /* Tamaño de la imagen */
   border-radius: 100%;
   /* Forma redondeada */
   object-fit: fill;
   padding: 1em;
 }

 /* Texto titulos centrado */
 h1,
 h2 {
   text-align: center;
   padding: 1em;
   font-size: 3em;
   margin: 0;
 }

 p {
   font-size: 1em;
   line-height: 1.5;
   /* Espaciado entre líneas */
   margin: 0;
 }

 b {
   font-size: 2em;
   line-height: 1.5;
   /* Espaciado entre líneas */
   margin: 0;
 }

 /* Texto parrafos centrado */
 .center {
   text-align: center;
   display: block;
   width: 100%;
 }

 /* Texto parrafos centrado */
 .center-intro {
   max-width: 40%;
   margin: 0 auto;
 }

 .centertext {
   position: relative;
   text-align: center;
   display: block;
   width: 50%;
   align-items: center;
   padding: 1em;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 /* imagenes centradas (no se si hace algo pero me da miedo borrarlo)*/
 img {
   display: block;
   margin: 0 auto;
 }

 .imagen {
   width: 300px;
   height: 200px;
   margin: 0 auto;
 }

 .imagen2 {
   position: relative;
   bottom: 3em;
 }

 /* 2 cosas en el mismo renglon */
 .container {
   display: flex;
   justify-content: space-between;
   /* Espacio entre los elementos */
   align-items: center;
   /* Centrar verticalmente */
   width: 100%;
   padding-top: 1em;
   padding-bottom: 1em;
   /* Asegura que ocupe todo el ancho */
 }

 /* parte izquierda del renglon */
 .left {
   width: 50%;
   /* Ocupa la mitad izquierda */
   text-align: center;
   /* Centra el texto horizontalmente */
 }

 /* texto de la parte izquierda */
 .lefttext {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: justify;
   padding: 1.5em 3em;
 }

 /* caja que contiene el texto para que no empiece desde el borde izquierdo */
 .lefttextcentro {
   display: flex;
   justify-content: center;
   /* Centra horizontalmente el contenido */
   align-items: center;
   /* Centra verticalmente el contenido */
   width: 100%;
   /* Asegura que ocupe todo el ancho */
 }

 /* parte derecha del renglon */
 .right {
   width: 50%;
   /* Ocupa la mitad derecha */
   text-align: center;
   /* Centra la imagen horizontalmente */


 }


 nav ul {
   list-style: none;
   /* Elimina los puntos de la lista */
   padding: 0;
   /* Elimina el padding del contenedor */
   display: flex;
   /* Coloca los elementos en línea */
   justify-content: center;
   /* Centra los botones horizontalmente */
   gap: 1em;
   /* Espaciado entre los botones */
 }

 nav ul li {
   margin: 0;
   /* Elimina márgenes adicionales */
 }

 nav ul li a {
   display: inline-block;
   /* Permite aplicar padding y bordes */
   padding: 10px 20px;
   /* Espaciado interno del botón */
   background-color: #333;
   /* Color de fondo del botón */
   color: white;
   /* Color del texto */
   text-decoration: none;
   /* Elimina el subrayado */
   border-radius: 5px;
   /* Bordes redondeados */
   transition: background-color 0.3s ease;
   /* Animación para el hover */
 }

 nav ul li a:hover {
   background-color: #555;
   /* Cambia el color de fondo al pasar el mouse */
 }

 .has-background {
   background-color: black;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
 }

 .foto-background {
   background-color: black;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: 20%;
 }

 .foto-intro-text {
   position: relative;
   top: 10%;
   z-index: 5;
 }


 h1.foto-intro-text {
   padding: 0.5em;
 }

 p.foto-intro-text {
   font-size: larger;
   padding: 0;
 }

 #Foto {
   position: relative;
   height: 50em;
   background-image: url(https://parispeaceforum.org/app/uploads/2023/09/net-zero-space-initiative-1.jpg);
   padding: 20px;
 }

 .curve {
   position: absolute;
   /* Posiciona el SVG dentro del contenedor */
   bottom: 0;
   /* Asegura que el SVG esté en la parte inferior del contenedor */
   left: 0;
   width: 100%;
   /* Asegura que el SVG cubra todo el ancho del contenedor */
   height: auto;
   /* Ajusta la altura automáticamente */

 }

 .curve-2 {
   /* Posiciona el SVG dentro del contenedor */
   top: 3.5em;
   /* Asegura que el SVG esté en la parte inferior del contenedor */
   left: 0;
   transform: rotate(180deg);

 }

 #Presentacion {
   padding: 20px;
   /* Espaciado interno para que el contenido no toque los bordes */
   background-color: #08D9D6;
   /* Color de fondo */
   background-image: linear-gradient(to bottom, #0957a0, #6A2C70);
   /* Degradado de color */
 }

 #Estudios {
   padding: 20px;
   /* Espaciado interno para que el contenido no toque los bordes */
   background-color: rgb(229, 240, 72);
   background-image: linear-gradient(to bottom, #6A2C70, #B83B5E);
   /* Degradado de color */
 }

 #Gustos {
   background-color: #7dd0df;
   background-image: linear-gradient(to bottom, #B83B5E, #F08A5D);
   /* Degradado de color */
 }

 #Proyectos {

   padding: 20px;
   /* Espaciado interno para que el contenido no toque los bordes */
   background-color: rgb(202, 160, 112);
   background-image: linear-gradient(to bottom, #F08A5D, #F9ED69);
   /* Degradado de color */
 }

 footer {
   background-image: linear-gradient(to bottom, #bbb24f, #000000);
   /* Degradado de color */
   padding: 0;
   /* Espaciado interno para que el contenido no toque los bordes */
   color: #fff;
 }

 .cajaestudios {
   background-image: radial-gradient(circle, #B771E5, #4635B1);
   /* Degradado radial de color */
   border: 2px solid #ffffff;
   /* Borde del cuadro */
   border-radius: 2em;
   /* Bordes redondeados */
   padding: 20px;
   /* Espaciado interno */
   margin: 20px auto;
   /* Espaciado externo y centra el cuadro */
   width: 80%;
   /* Ancho del cuadro */
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   /* Sombra para darle profundidad */
 }

 .cajagustos {
   background-color: red;
   background-image: radial-gradient(circle, #d4824b, #8f2a9c);
   /* Degradado radial de color */
   /* Ancho del cuadro */
   /* height: 50em; */
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   /* Sombra para darle profundidad */
   padding-top: 3em;
   padding-bottom: 5em;
   clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
   /* Forma con líneas diagonales */
 }

 .cajagustos-center {
   width: 80%;
   margin: 0 auto;
 }

 .cajaproyectos {
   background-image: radial-gradient(circle, #db9f1d, #f9105e);
   /* Degradado radial de color */
   border: 2px solid #ffffff;
   /* Borde del cuadro */
   border-radius: 2em;
   /* Bordes redondeados */
   padding: 20px;
   /* Espaciado interno */
   margin: 20px auto;
   /* Espaciado externo y centra el cuadro */
   width: 80%;
   /* Ancho del cuadro */
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   /* Sombra para darle profundidad */
 }


 .cajacontacto {
   background-image: radial-gradient(circle, #252525, #000000);
   /* Degradado radial de color */
   border: 2px solid #000000;
   /* Borde del cuadro */
   margin: 0;
   width: 100%;
   /* Ancho del cuadro */
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   /* Sombra para darle profundidad */
 }

 /* From Uiverse.io by MarcLazz */
 .button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   padding-bottom: 50px;
 }

 .button {
   cursor: pointer;
   text-decoration: none;
   color: #ffff;
   width: 160px;
   height: 160px;
   border-radius: 50%;
   background-color: #2d2e32;
   border: 2px solid #2d2e32;
   transition: all 0.45s;
 }

 .button:hover {
   transform: rotate(360deg);
   transform-origin: center center;
   background-color: #ffff;
   color: #2d2e32;
 }

 .button:hover .btn-svg {
   filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
 }

 .flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
 }