 body {
   font-family: Arial, sans-serif;
   color: #ffffff;
   background-color: #ffffff;
   padding: 0;
   margin: 0;
 }

 /* barra superior sticky */
 .sticky {
   position: fixed;
   z-index: 8;
   top: 0;
   text-align: center;
   width: 100%;
   border: 1px solid #000000;
   background-image: linear-gradient(to right, #2c262e, #2e2826);
   left: 0;
   transform: none;
 }

 /* scroll smooth */
 html {
   scroll-behavior: smooth;
 }

 /* Foto de perfil */
 .profile {
   position: relative;
   top: 10%;
   z-index: 5;
   width: 20em;
   height: 20em;
   border-radius: 100%;
   object-fit: fill;
   padding: 1em;
 }

 /* Texto titulos centrado */
 h1,
 h2 {
   text-align: center;
   padding: 1em;
   font-size: 3em;
   margin: 0;
 }

 p {
   font-size: 1em;
   line-height: 1.5;
   margin: 0;
 }

 b {
   font-size: 2em;
   line-height: 1.5;
   margin: 0;
 }

 /* Texto parrafos centrado */
 .center {
   text-align: center;
   display: block;
   width: 100%;
 }

 /* Texto parrafos centrado */
 .center-intro {
   max-width: 40%;
   margin: 0 auto;
 }

 .centertext {
   position: relative;
   text-align: center;
   display: block;
   width: 50%;
   align-items: center;
   padding: 1em;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

 /* imagenes centradas */
 img {
   display: block;
   margin: 0 auto;
 }

 .imagen {
   width: 300px;
   height: 200px;
   margin: 0 auto;
 }

 .imagen2 {
   position: relative;
   bottom: 3em;
 }

 /* 2 cosas en el mismo renglon */
 .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding-top: 1em;
   padding-bottom: 1em;
 }

 /* parte izquierda del renglon */
 .left {
   width: 50%;
   text-align: center;
 }

 /* texto de la parte izquierda */
 .lefttext {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: justify;
   padding: 1.5em 3em;
 }

 /* caja que contiene el texto para que no empiece desde el borde izquierdo */
 .lefttextcentro {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 /* parte derecha del renglon */
 .right {
   width: 50%;
   text-align: center;


 }


 nav ul {
   list-style: none;
   padding: 0;
   display: flex;
   justify-content: center;
   gap: 1em;
 }

 nav ul li {
   margin: 0;
 }

 nav ul li a {
   display: inline-block;
   padding: 10px 20px;
   background-color: #333;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   transition: background-color 0.3s ease;
 }

 nav ul li a:hover {
   background-color: #555;
 }

 .has-background {
   background-color: black;
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
 }

 .foto-background {
   background-color: black;
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   opacity: 20%;
 }

 .foto-intro-text {
   position: relative;
   top: 10%;
   z-index: 5;
 }


 h1.foto-intro-text {
   padding: 0.5em;
 }

 p.foto-intro-text {
   font-size: larger;
   padding: 0;
 }

 #Foto {
   position: relative;
   height: 50em;
   background-image: url(https://parispeaceforum.org/app/uploads/2023/09/net-zero-space-initiative-1.jpg);
   padding: 20px;
 }

 .curve {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: auto;

 }

 .curve-2 {
   top: 3.5em;
   left: 0;
   transform: rotate(180deg);

 }

 #Presentacion {
   padding: 20px;
   background-color: #08D9D6;
   background-image: linear-gradient(to bottom, #0957a0, #6A2C70);
 }

 #Estudios {
   padding: 20px;
   background-color: rgb(229, 240, 72);
   background-image: linear-gradient(to bottom, #6A2C70, #B83B5E);
 }

 #Gustos {
   background-color: #7dd0df;
   background-image: linear-gradient(to bottom, #B83B5E, #F08A5D);
 }

 #Proyectos {

   padding: 20px;
   background-color: rgb(202, 160, 112);
   background-image: linear-gradient(to bottom, #F08A5D, #F9ED69);
 }

 footer {
   background-image: linear-gradient(to bottom, #bbb24f, #000000);
   padding: 0;
   color: #fff;
 }

 .cajaestudios {
   background-image: radial-gradient(circle, #B771E5, #4635B1);
   border: 2px solid #ffffff;
   border-radius: 2em;
   padding: 20px;
   margin: 20px auto;
   width: 80%;
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
 }

 .cajagustos {
   background-color: red;
   background-image: radial-gradient(circle, #d4824b, #8f2a9c);
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
   padding-top: 3em;
   padding-bottom: 5em;
   clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
 }

 .cajagustos-center {
   width: 80%;
   margin: 0 auto;
 }

 .cajaproyectos {
   background-image: radial-gradient(circle, #db9f1d, #f9105e);
   border: 2px solid #ffffff;
   border-radius: 2em;
   padding: 20px;
   margin: 20px auto;
   width: 80%;
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
 }


 .cajacontacto {
   background-image: radial-gradient(circle, #252525, #000000);
   border: 2px solid #000000;
   margin: 0;
   width: 100%;
   box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
 }

 .button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1.5rem;
   padding-bottom: 50px;
 }

 .button {
   cursor: pointer;
   text-decoration: none;
   color: #ffff;
   width: 160px;
   height: 160px;
   border-radius: 50%;
   background-color: #2d2e32;
   border: 2px solid #2d2e32;
   transition: all 0.45s;
 }

 .button:hover {
   transform: rotate(360deg);
   transform-origin: center center;
   background-color: #ffff;
   color: #2d2e32;
 }

 .button:hover .btn-svg {
   filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
 }

 .flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
 }